{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "styles/application.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "styles/add-button.css" %}">
        <!-- <link rel="stylesheet" type="text/css" href="static/styles/orihime-colors.css"> -->
    </head>
    <body> 

        <div id="orihime-text-tree-container">
{% autoescape off %}
            {{ ANKI_Text }}
{% endautoescape %}
        </div>

        <div id="add-button">+</div>

        <script src="{% static "js/expand-child-words.js" %}"></script>
        <script src="{% static "js/add-child-words.js" %}"></script>
        {{ toggle_snippet }}

        <link rel="stylesheet" type="text/css" href="{% static "styles/word-selection.css" %}">
        </script>
    </body>
</html>
