{% extends "orihime/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "styles/application.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "styles/add-button.css" %}">
<!-- <link rel="stylesheet" type="text/css" href="static/styles/orihime-colors.css"> -->
{% endblock %}

{% block body %}
        <div id="orihime-text-tree-container">
            {% autoescape off %}
            {{ text_tree }}
            {% endautoescape %}
        </div>

{% if user.is_authenticated %}
        <div id="add-button">+</div>

        <div id="backend-selector">
            <select>
                <option>goo辞書</option>
                <option>Larousse</option>
            </select>
        </div>
{% endif %}

        <script src="{% static "js/expand-child-words.js" %}"></script>
        <script src="{% static "js/add-child-words.js" %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static "styles/word-selection.css" %}">
        </script>
{% endblock %}
